$default-transition-duration: 0.4s;
$default-transition-function: ease-out;
$default-transition: all ease-out 0.4s;
$default-blue: #3366FF;
$default-grey: #D5D5D5;
$default-background: #fff;
$default-font-family: "Roboto", sans-serif;

$md1: 769px;
$md2: 993px;
$md3: 1201px;

